* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #c488f2;
    color: #0D0D0D;
    font-family: sans-serif;
    font-weight: 400;
}

header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    background: linear-gradient(#44006e, #b524a9);
}

header img {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
    align-items: left;
    
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav a {
    margin: 0 20px;
    position: relative;
    text-decoration: none;
    color: #F2E0C9;
    font-weight: bold;
    font-size: 16px;
}

nav a:hover {
    color: #FFD700;
}

#frase-de-efeito {
    color: #8C3746;
    font-weight: 600;
    letter-spacing: 1px; 
    text-shadow: 0px 0px 8px rgba(140, 55, 71, 0.418);
    font-size: 1.1rem;
    padding-top: 20px;
    justify-content: center;
}

main {
    padding: 20px;
    text-align: justify;
}

main h1 {
    font-size: 2rem;
    color: #592e57;
    margin-bottom: 30px;
    text-align: center;
}

main p {
    font-size: 1.2rem;
    color: #6D6D6D;
    text-align: justify;
    margin-bottom: 20px;
}

.main-container {
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    max-width: 650px;
    margin: 0 auto;
    justify-content: justify;
    border-radius: 2px;
    gap: 15px;

}
.cast-member img{
    height:auto;
    width: 250px;
    align-items: center;
}

.main-block {
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-around;
    border-radius: 10px;
    background-color: #aab4eb;
}


.respostas {
    padding: 5rem;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-around;
    border-radius: 10px;
    background-color: #ebd2aa;
}


#topo {
    text-align: center;
    padding-top: 20px;
}

#topo a {
    color:#0D0D0D;
    text-decoration: none;
}

#topo a:hover {
    color:#40592E;
}

footer {
    background: linear-gradient(#1a006e,#c68638);
    color: #F2E0C9;
    padding: 20px 0px;
    text-align: center;
}