*{
    margin: 0;
    padding: 0 0 0 0;
    box-sizing: border-box;
    font-family: lago de águia;
    background-color: rgba(81, 15, 236, 0.836);
}

.nome Estudando a Disney{
    color: rgba(40, 159, 206, 0.537);
   
}

.center{
    display: flex;
    flex-wrap: wrap;
    max-width: 1280px;
    margin:0 auto;
    padding:0 2%;
}

header{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: left;
    justify-content: center;
    padding: 20px 0;
    background: rgb(0, 24, 75);

}
header img {
    width:150px;
    height: auto;
    margin-bottom: 0;
    
}
 

p {
color: rgb(0, 0, 0);
text-align: justify;
}

.texto-inicio{
    margin-top: 100px;
}

.texto-inicio h1{
    font-size: 50px;
    color:rgba(75, 47, 201, 0.973) ;

}

.texto-inicio p{
    margin: 20px 0;
    color: preto;
    font-size: 14px;
    font-weight: bold;
    text-align: justify;
    
}

.texto-inicio h2{
    color: rgba(75, 47, 201, 0.973);
}

.texto-inicio text{
    text-align: justify;
    font-weight:central;
}



nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav a {
    margin: 0 20px;
    position: relative;
    text-decoration: none;
    color: #F2E0C9;
    font-weight: bold;
    font-size: 16px;
}

nav a:hover {
    color: #cacbee;
}

main {
    padding: 20px;
    text-align: left;
}

#frase-de-efeito {
    color: #8C3746;
    font-weight: 600;
    letter-spacing: 1px; 
    text-shadow: 0px 0px 8px rgba(140, 55, 71, 0.418);
    font-size: 1.1rem;
}

footer {
    background-color: #d6a400;
    color: #030303;
    padding: 20px 0px;
    text-align: center;
}